<% include ../partials/header.ejs %>

<form action="/expense" method="POST">
    <select name="category">
        <% categories.forEach( category => { %>
        <option value="<%= category %>">Category
            <%= category %>
        </option>
        <% }) %>
    </select><br>
    <select name="month">
        <% months.forEach( month => { %>
        <option value="<%= month %>">
            <%= month %>
        </option>
        <% }) %>
    </select>
    <select name="year">
        <% years.forEach( year => { %>
        <option value="<%= year %>">
            <%= year %>
        </option>
        <% }) %>
    </select><br>
    <input type="text" name="name" placeholder="Expense Name">
    <input type="number" name="amount" placeholder="Expense Amount">
    <br>
    <button type="submit">Submit</button>
</form>


<% include ../partials/footer.ejs %>