<% include ../partials/header.ejs %>

<h2> 
<%= month[0].toUpperCase()+month.substr(1) %>, <%= year %>:
</h2>

<% for (var category in expenseList){ %>
Category <%= category %>:
<ul>
        <%    expenseList[category].forEach( exp => { %>
            <li>
                <%= exp.name %>: &#8362 <%= exp.amount %>
            </li>
        <%    }); %>
</ul>
<% } %>

<% include ../partials/footer.ejs %>